.referencelinks{list-style-type: none; padding: 0; margin: 0;align-self: flex-end;}
.mainnamepage{font-size: 40px;margin:0px;padding:0; margin-top: 20px;}
.mainlinepage{font-size: 18px;margin:0;padding-right:20px}
.navlinklistitem{display: inline-block;margin-left: 20px}
.header{font-family: 'Merriweather', serif;}
.navlinklist li a{text-decoration: none;color: black;display:inline;font-size: 12px;} 
.navlink{font-family: 'Nanum Myeongjo';text-transform: uppercase;font-weight:800;}
.main-header{display: flex; align-items: last baseline;} 
main{max-width: 980px;
    margin-left: auto;
    margin-right:auto;}